*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  background-color: yellowgreen;
  height: 100vh;
  display: flex;
}
.nav {
  background-color: green;
  width: 100vw;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
/* Add ToDo */

.addtodo {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding-top: 5%;
  width: 100%;
  margin-bottom: 25px;
}
input {
  width: 70%;
}
button {
  width: 20%;
  font-weight: bold;
  color: white;
  background-color: green;
}
input,
button {
  border: 1px gray solid;
  border-radius: 25px;
  padding: 20px 12px;
  font-size: 1.5rem;
  font-family: sans-serif;
  opacity: 0.9;
}
button:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* Display ToDo */

.displaycontainer {
  background-color: white;
  border: 2px solid rgb(53, 50, 50);
  border-radius: 8px;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 8px 0px;
}
.diplaytitle {
  display: flex;
  padding: 8px;
  margin: 0px auto;
  width: 90%;
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px dashed black;
}
.displaytodo {
  display: flex;
  padding: 15px;
  margin: 0px auto;
  width: 90%;
  background-color: white;
  font-size: 1.3rem;
  font-family: monospace;
}
.hash {
  width: 5%;
}
.task {
  width: 60%;
}
.status {
  width: 15%;
}
.action {
  width: 20%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.close,
.done {
  cursor: pointer;
}
