*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  background-color: yellowgreen;
  height: 100vh;
  display: flex;
}
.nav {
  background: linear-gradient(to right, green, lightgreen);
  width: 100vw;
  color: white;
  font-weight: bold;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 2px 2px 4px black;
}
/* Add ToDo */

.addtodo {
  position: relative;
  display: flex;
  gap: 5px;
  justify-content: center;
  padding-top: 5%;
  width: 100%;
  margin-bottom: 25px;
}
input::placeholder {
  font-style: italic;
  opacity: 0.5;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  transition: border-color 0.2s ease-in-out;
  background-image: linear-gradient(to right, #ccc, #ccc);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 0% 50%;
}

input:focus::placeholder {
  background-size: 100% 100%;
}
input:focus::placeholder {
  border-color: #2196f3;
}
button {
  width: 20%;
  font-weight: bold;
  color: white;
  background-color: green;
}
input,
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 20px 12px;
  font-size: 1.5rem;
  font-family: sans-serif;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
button:hover {
  background-color: #3e8e41;
}
button:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* Display ToDo */

.displaycontainer {
  background-color: white;
  border: 2px solid rgb(53, 50, 50);
  border-radius: 8px;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  padding: 8px 0px;
}
.diplaytitle {
  display: flex;
  padding: 8px;
  margin: 0px auto;
  width: 90%;
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px dashed black;
}
.displaytodo {
  display: flex;
  padding: 15px;
  margin: 0px auto;
  width: 90%;
  background-color: white;
  font-size: 1.3rem;
  font-family: monospace;
}
.hash {
  width: 5%;
}
.task {
  width: 60%;
}
.status {
  width: 15%;
}
.action {
  width: 20%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.close,
.done {
  cursor: pointer;
}
.popup {
  position: absolute;
  top: 115px;
  color: red;
}
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0px;
}
